.not_clicked {
    background: none;
    color: rgba(18, 52, 86, 0.6);
	border: none;
	cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    margin: 0.125rem 0;
    line-height: 2;
    text-align: left;
}

.not_clicked:hover {
    width: 100%;
    background-color: rgba(151, 166, 195, 0.15);
}

.clicked {
    background: none;
    color: rgb(18, 52, 86); 
	border: none;
	cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    margin: 0.125rem 0;
    line-height: 2;
    text-align: left;
    background-color: rgba(151, 166, 195, 0.15);
    font-weight: 600;
}

.clicked:hover {
    background: none;
    background-color: rgba(151, 166, 195, 0.25);
}

.disabeled{
    color: rgba(18, 52, 86,0.2); 
    background: none;
	border: none;
	cursor: not-allowed;
    width: 100%;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    margin: 0.125rem 0;
    line-height: 2;
    text-align: left;
    font-weight: 600;
}

iframe{
    display: none;
}